/* You can add global styles to this file, and also import other style files */


$fontfamily:'Roboto', sans-serif;


body{
    font-family: $fontfamily;
}

.p-button:enabled:focus {
    box-shadow:none !important;
}