<section  class="lg:w-7 md:w-10 w-full m-auto py-6">
    <div *ngIf="!loading" class="search-result">
        <div id="search-header" class="flex justify-content-between  pb-3">
            <h3 class="m-0">{{totalUserResults |number}} users</h3>
            <p-slideMenu #menu [model]="sortItems" [popup]="true"></p-slideMenu>
            <button pButton type="button" (click)="menu.toggle($event)"
                class="p-button-secondary p-button-outlined py-1 px-1">
                <small class="px-1">sort:</small> <small class="text-800 ">{{ sortKey}} <i class="pi pi-angle-down"
                        style="font-size: 0.8rem"></i></small>
            </button>
        </div>
        <div id="user-result">
            <div class=" flex  py-3 border-top-1 border-gray-300" *ngFor="let user of userResults">
                <a [href]="user.html_url" class=" w-2rem "><img [src]="user.avatar_url" alt="user profile image"
                        class=" w-full border-circle"></a>
                <div class="userInfo col">
                    <div class="flex justify-content-between">
                        <div class="name">
                            <a *ngIf="user.name" [href]="user.html_url" class="mr-3 text-primary">{{user.name}}</a>
                            <a [href]="user.html_url" class="text-600">{{user.login}}</a>
                        </div>
                        <div class="followers text-600">
                            <strong class="text-800">{{user.followers |number}}</strong> Followers
                        </div>
    
                    </div>
                    <div class="details">
                        <p>{{user.bio}}</p>
                        <div>
                            <small class="text-600">{{user.location}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-paginator [rows]="10" [totalRecords]="totalUserResults>1000?1000:totalUserResults" (onPageChange)="paginate($event)" class="px-1"></p-paginator>
</section>